body
{
    background-color: black;
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container
{
    
    width: 80vh;
    background-color: rgba(255, 255, 255, 50%);
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}
button
{
    font-weight: bold;
    width: 50px;
    height: 30px;
}

input[type = "number"]
{
    width: 12vh;
    height: 12vh;
    text-align: center;
    font-size: 2em;
}
input, button
{
    font-weight: bold;
    border-radius: 10px;
}

label
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.teams
{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}